<h3>LATEST DONOR</h3>

<h4><%= @latest_donor %> <img src="/images/hand.png" /><span><strong>No.</strong><%= donor_count %></span></h4>

<p id="more_donors">
  <a href=""><img src="/images/more_donors_link.png" alt="-------->" />View all donors</a>
</p>
