<p>Hi <%= @donor.subscriber.name %>,</p>

<p>Oops! Looks like the credit card you used didn't go through &mdash; maybe you typed a number wrong or entered the expiration date incorrectly? It’s easy to fix, though. Just re-enter your billing details here. You’ll be a <%= CONFIG[:name] %> donor in no time.</p>

<p>If you have questions, just reply to this email. We're happy to help out!</p>

<p>&mdash;<%= CONFIG[:name] %></p>
