<section id="hero" class="hero-home bg-grey-light table py4 relative clip">
  <div class="full-width">
    <div class="container py4 relative">
      <div class="gift-card p4 rounded">
        <%= image_tag "gift.svg", class: "block mt2 mb2 margin-auto mobile-hide" %>
        <%= image_tag "logo-dark.png", class: "block mb4 margin-auto mobile-hide gift-logo" %>
        <div class="gift-copy">
          <h2 class="centered">Hi Kilian</h2>
          <p>Every day, for the next 30 days a great, deserving charity will be given a $1 on your behalf.</p>
        </div>
        <form>
          <textarea placeholder="Add a personal message if you'd like" class="block"></textarea>
        </form>
      </div>
    </div>
  </div>
</section>
