<article id="content" class="bg-white js-donate-button-hide">
  <section id="intro" class="hero-legal intro bg-grey pt8 pb8">
    <div class="container p2">
      <div class="col-center col-8">
        <h2 class="white no-margin"><%= CONFIG[:name] %> is a simple service that we’ve endeavored to make easy to understand.</h2>
      </div>
    </div>
  </section>

  <section class="bg-grey-light pt4 pb4">
    <div class="container p2">
      <div class="col-center col-8">

        <div class="mb6">
          <h3 class="bold mb2">Our Terms of Service &amp; Privacy Policy</h3>
          <p>ToS goes in here...</p>
        </div>

      </div>
    </div>
  </section>
</article>
