<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <div id="site_share">
    <code id="url" style="display:none;"> <%= @full_url %> </code>
    <!-- <code> <%= @full_url %> </code> -->
  </div>

  <%= javascript_include_tag "share" %>
</body>
</html>