<article id="site_subscribe" class="mobile-table full-height full-width bg-grey-light border-top">
    <div class="mobile-table-cell pl2 pr2">
      <div class="col-center col-6">
        <div class="mb2">
          <%= render "modules/logo_link", theme: :dark %>
        </div>
        <%= render "subscribers/form", subscriber: @subscriber %>
      </div>
    </div>
</article>
