.c-favoriting {
  form, div { display: inline; }
}

.c-favoriting__button {
  display: inline;
  border: none;
  background: none;
  cursor: pointer;
  @include prefixer(appearance, none, webkit moz spec);
  font-size: 1.35em;
  line-height: 1;
  &:focus { outline: none; }
}

// Button Color
.c-favoriting__button__icon path[fill] {

  transition: fill 150ms ease-out;
  
  .c-favoriting__button--enable & {
    fill: $grey-light;
  }

  .c-favoriting__button--disable &,
  .c-favoriting__button--enable.hover & {
    fill: #F54778;
  }

}

                    .c-favoriting__button--disable  { display: none; }
.c-favoriting.is-on .c-favoriting__button--disable  { display: inline-block; }
.c-favoriting.is-on .c-favoriting__button--enable   { display: none; }