<article id="nonprofits_index">
  <section class="content">
    <section class="interior">
      <h1>Nonprofits</h1>
      <p><b>What is <%= CONFIG[:name]%>’s selection criteria?</b></p>
      <p>... text goes here about selection criteria ...</p>
    </section>

    <ul>
      <% @nonprofits.each do |nonprofit| %>
        <li>
          <%= render 'card', :nonprofit => nonprofit %>
        </li>
      <% end %>
    </ul>
  </section>
</article>
