<aside class="bg-pattern white"><div class="px-gutter py6 centered col-max-10 col-center">
  <div class="big">
    <p class="mb0 bold"><%= CONFIG[:name] %> is a simple new way to discover and support amazing nonprofits.</p>
    <p class="mb3">We feature one great organization every day, everyone automatically donates&nbsp;$1.</p>
  </div>
  <p class="mb0"><%= link_to "Learn More", root_path, class: "button-outline button-white button-hover-black" %></p>
</div></aside>
